<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />

<!-- jQuery library -->
<script
	src="F:\WorkSpaces\Syscho\Servlet\WebContent\bootstrap\css\jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<body>
	<div class="container">
		<div class="jumbotron">

			<div class="panel-body">
				<form method="POST" action="/upload" enctype="multipart/form-data">
					<label class="custom-file"> <input type="file" id="file"
						name="file" class="custom-file-input"> <span
						class="custom-file-control"></span> </input>
					</label> <input type="submit" value="Submit" class="btn btn-primary" />
				</form>
			</div>
		</div>
	</div>


</body>
</html>
